$homepageInputWidth: rem(357);
$homepageSubmitWidth: rem(298);
$homepageInputHeight: rem(58);

.homepage {
    background-image: url(/img/runner.jpg);
    background-size: cover;
    padding-top: rem(60);
    position: relative;
}

.homepageVideo {
    border: 6px solid #dc6264;
    display: block;
    margin: 50px auto;
}

.drunnLogo {
    display: block;
    margin: 0 auto;
    width: rem(140);
}

.homepageForm {
    @include clearfix();
    margin: 0 auto;
    width: $homepageInputWidth + $homepageSubmitWidth;
}

.homepageInput {
    @include padding(null rem(20));
    @include size($homepageInputWidth $homepageInputHeight);
    background-color: #fff;
    border: 6px solid #1691bd;
    color: #1691bd;
    float: left;
    font-size: rem(24);
    line-height: rem(58);
    opacity: 0.8;
    &:focus,
    &:hover {
        opacity: 1;
        outline: none;
    }
}

.homepageSubmit {
    @include padding(null rem(20));
    @include size($homepageSubmitWidth $homepageInputHeight);
    @include transition(opacity 0.25s);
    background-color: #1691bd;
    border: none;
    color: #fff;
    float: left;
    font-size: rem(24);
    opacity: 0.8;
    &:hover,
    &:focus {
        opacity: 1;
    }
}

.about {
    @include padding(rem(50) null);
}

.aboutImage {
    width: 100%;
}

.aboutInfo {
    // Make up for padding in the image
    padding-top: rem(100);
    text-align: center;
}

.aboutTitle {
    font-size: rem(40);
    margin-bottom: rem(50);
}

.aboutList {
    @extend %listUnstyled;
}

.aboutListItem {
    margin-top: rem(20);
    font-size: rem(18);
}

