@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700);

%openSansLight {
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
}

%openSansRegular {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
}

%openSansSemibold {
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
}

%openSansBold {
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
}
