.slideshowWrap,
.slideshow,
.slideshow.slide,
.slideshow .img {
    position: relative;
    width: 853px;
    font-size: 24px;
}

.slideshow,
.slideshow.slide,
.slideshow .img {
    height: 724px;
}

.slideshow .slide {
    .img {
        background-size: cover;
        background-position: center;
    }

    .caption {
        @include position(absolute, null 0 20px 0);
        color: white;
        display: none;
        text-align: center;
    }
}

.slideshow .prev,
.slideshow .next {
    @include position(absolute, 50% null null null);
    @include transform(translateY(-50%));
    fill: black;
    z-index: 200;
    cursor: pointer;
    fill: #fff;
    height: rem(31);
    opacity: 1;
    width: rem(20);
}

.slideshow .prev {
    left: rem(50);
}

.slideshow .next {
    right: rem(50);
    @include transform(rotate(180deg));
    @include transform-origin(50% rem(8));
}

.slideshowRegion {
    background-color: #373b3e;
    position: relative;
}

.slideshowWrap {
    @include transform(translateX(-50%));
    @include user-select(none);
    left: 50%;
    overflow: hidden;
}

.slideshowTitle {
    font-size: rem(40);
    text-align: center;
    color: #fff;
    margin-top: rem(50);
}

.slideshow ul {
    margin: 0;
    padding: 0;
}
