<div class="about">
    <div class="heroImage"><img src="img/drunn.jpg" /></div>
    About Drunn:
    <ul>
        <li>Ghost Mode</li>
        <li>Hydrate yoself</li>
        <li>Get Social</li>
    </ul>
</div>
