<div class="about">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6">
                <img class="aboutImage" src="img/drunn.jpg" />
            </div>
            <div class="col-sm-6">
                <div class="aboutInfo">
                    <div class="aboutTitle">About Drunn</div>
                    <ul class="aboutList">
                        <li class="aboutListItem">Improve on Yesterday's Performance</li>
                        <li class="aboutListItem">Run with Backup</li>
                        <li class="aboutListItem">Stay Energized</li>
                        <li class="aboutListItem">Never Get Lost</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
