<div class="about">
    <div class="heroImage"><img src="img/drunn.jpg" /></div>
    About Drunn:
    <ul>
        <li>Improve on Yesterday's Performance</li>
        <li>Run with Backup</li>
        <li>Stay Energized</li>
        <li>Never Get Lost</li>
        <li>Share Your Run</li>
    </ul>
</div>
