<div class="homepage">
    <img class="drunnLogo" src="/img/drunnLogo.png">
    <iframe class="homepageVideo" width="853" height="480" src="//www.youtube.com/embed/F2X34-fy4dI" frameborder="0" allowfullscreen></iframe>
    <form class="homepageForm">
        <input class="homepageInput" type="email" placeholder="Email">
        <button class="homepageSubmit">Keep Me Informed</button>
    </form>
</div>
